---
import { Icon } from "astro-icon/components";
---

<footer class="bg-basis-background footer">
  <div class="container border-t-2 border-basis text-basis pb-4 text-center">
    <div class="flex space-x-4 pt-6 pb-12">
      <nav class="basis-full space-y-2">
        <p class="topic-title">Pixelplay</p>
        <ul class="space-y-2">
          <li><a href="#" class="topic-item">Sobre nós</a></li>
          <li><a href="#" class="topic-item">Serviços prestados</a></li>
          <li><a href="#" class="topic-item">Projetos futuros</a></li>
          <li><a href="#" class="topic-item">Trabalhe conosco</a></li>
        </ul>
      </nav>
      <nav class="basis-full space-y-2">
        <p class="topic-title">Precisa de ajuda?</p>
        <ul class="space-y-2">
          <li><a href="#" class="topic-item">Termos e condições</a></li>
          <li><a href="#" class="topic-item">Política de privacidade</a></li>
          <li><a href="#" class="topic-item">Política de reembolso</a></li>
          <li><a href="#" class="topic-item">FAQ</a></li>
        </ul>
      </nav>
      <nav class="basis-full space-y-2">
        <p class="topic-title">Contato</p>
        <address class="space-y-2">
          <small class="line-clamp-2"
            >Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Perferendis minus provident quos quas delectus cupiditate officia.
            Ab et, autem nemo natus perferendis, veritatis inventore sunt porro
            facere eligendi, ex sed?</small
          >
          <span class="space-x-2 flex items-center topic-item justify-center">
            <Icon name="heroicons:phone-16-solid" />
            <a href="mailto:sample@example.com">sample@example.com</a>
          </span>
          <span class="space-x-2 flex items-center topic-item justify-center">
            <Icon name="heroicons:envelope-16-solid" />
            <a href="tel:+5511999999999">+ (11) 99999 - 9999</a>
          </span>
        </address>
        <ul class="flex items-center space-x-4 justify-center">
          <li>
            <a href="#" class="topic-item">
              <Icon name="logos/instagram" />
            </a>
          </li>
          <li>
            <a href="#" class="topic-item">
              <Icon name="logos/youtube" />
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <small
      class="w-fit flex items-center justify-center text-basis mx-auto text-sm space-x-1"
      ><span
        >Created by <a
          href="#"
          class="text-primary hover:text-primary-focus transition-all duration-150 ease-in-out"
          >Gabriel Jesus</a
        > with</span
      ><Icon name="coffee" class="text-xl" /></small
    >
  </div>
</footer>
